* {
    margin:0;
    padding:0;
}

body {
    font-family: "Open Sans","Opensans", "sans-serif";
    box-sizing: border-box;
    min-height: 192px;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    font-family: "Source Sans Pro","Lucida Grande", "sans-serif";
    padding: 8px 4px;
    font-size: 14px;
    height: 20px;
  }
  
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

header {
    background-color: rgb(32,101,136);
    color: rgb(255,255,255);
}

.defloat {
    clear:both;
}

.top-left {
    float: left;
}

.top-links {
    display: inline-block;
    float: right;
    font-size: 14 px;
    margin: 0 20px 0 0;
}
  
.top-links li {
    display: inline-block;
    margin: 0 10px;
}

#header-section {
    margin: 0 auto;
    background-color:white; 
    background-image: url(images/city-scapeV2.png);
    height:700px;
}

#header-search {
    background-color: rgb(31,82,111);
    border-style: none;
}

#header-signup {
    background-color: rgb(240,146,51);
    color: rgb(255,255,255);
    padding: 7px 18px 8px 18px;
    border-radius: 20px;
    text-decoration: none;
}

#header-text {
    width:60%;
    margin: 0 0 0 15%;
}

#header-text h1 {
    padding-top: 20%;
    margin-bottom: 3%;
}

#header-text p {
    width: 70%;
    margin-bottom: 3%;
}

#section-1 {
    background-color: rgb(39,53,71);
    color:rgb(255,255,255);
}

#s1-container {
    width: 70%;
    margin: 0 auto;
    padding: 8% 0;
}

#s1-container #img-container {
    width:50%;
    float:left;
}

#s1-container #text-container {
    width:40%;
    float:right;
}

#s1-container #text-container h2 {
    margin-bottom:20px;
}

#s1-container #text-container li {
    line-height: 30px;
    padding: 8px 0 8px 0;
}

#s1-container #text-container #s1-signup {
    display: inline-block;
    text-align: center;
    width: 80%;
    background-color: rgb(203,56,55);
    border-style: solid;
    border-color: rgb(203,56,55);
    color: rgb(255,255,255);
    text-decoration: solid;
    border-radius:20px;
    padding: 7px 18px 8px 18px;
    margin: 10px auto 20px auto;
    font-weight: 500;
}

#s1-container #text-container #s1-learn {
    font-weight: 600;
    color: rgb(255,255,255);
    text-decoration: solid;
}

#s1-container #text-container p {
    text-align: center;
}

#section-2 {
    background-image: url(images/npm-is-BOXES.png);
    height:700px;
    color: rgb(255,255,255);
}