* {
    margin:0;
    padding:0;
}

body {
    font-family: "Open Sans","Opensans", "sans-serif";
    box-sizing: border-box;
    min-height: 192px;
}

h1 {
    font-size: 48px;
    font-weight: 200;
}

h2 {
    font-size: 36px;
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    font-family: "Source Sans Pro","Lucida Grande", "sans-serif";
    padding: 8px 4px;
    font-size: 14px;
    height: 20px;
  }
  
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

header {
    background-color: #235a7a;
    color: rgb(255,255,255);
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.defloat {
    clear:both;
}

.fl {
    float:left;
}

.fr {
    float:right;
}

.mb7 {
    margin-bottom: 7%;
}

.mb10 {
    margin-bottom: 10%;
}

.mt3 {
    margin-top: 3%;
}

.mt5 {
    margin-top: 5%;
}

.mt10 {
    margin-top:10%;
}

mr3 {  
    margin-right: 3%;  
}

p20 {
    padding: 20%;
}

.top-left {
    float: left;
}

.top-links {
    display: inline-block;
    float: right;
    font-size: 14 px;
    margin: 0 20px 0 0;
}
  
.top-links li {
    display: inline-block;
    margin: 0 10px;
}

.w33 {
    width: 33.33%;
}

.w30 {
    width: 30%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

#header-section {
    margin: 0 auto;
    background-color:white; 
    background-image: url(images/city-scapeV2.png);
    height:700px;
}

#header-search {
    background-color: rgb(31,82,111);
    border-style: none;
    font-family: "Fira Mono", "Andale Mono", "Consolas", "monospace";
    line-height: 24px;
    width:78%;
    margin-right: 15px;
}

#header-signup {
    display: inline-block;
    width: 40%;
    text-align: center;
    background-color: rgb(240,146,51);
    color: rgb(255,255,255);
    padding: 7px 18px 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    line-height: 24px;
}

#header-text {
    width:40%;
    margin: 0 0 0 15%;
}

#header-text p {
    margin-top: 45px;
    line-height: 30px;
    font-size: 20px;
}

#header-text h1 {
    padding-top: 20%;
    margin-bottom: 3%;
}

#header-text p {
    width: 80%;
    margin-bottom: 3%;
}

#header-text div {
    margin: 30px auto;
}

#links {
    height: 70px;
}

#links-container {
    height:70px;
    padding: 20px 20px 20px 30px;
}

#links-container a {
    text-decoration: solid;
    color: rgb(255,255,255);
}

#logo {
    width: 70px;
    margin-right: 20px;
}

#section-1 {
    background-color: rgb(39,53,71);
    color:rgb(255,255,255);
}

#s1-container {
    width: 70%;
    margin: 0 auto;
    padding: 8% 0;
}

#s1-container #img-container {
    width:50%;
    float:left;
}

#s1-container #text-container {
    width:40%;
    float:right;
}

#s1-container #text-container h2 {
    margin-bottom:20px;
}

#s1-container #text-container li {
    line-height: 30px;
    padding: 8px 0 8px 0;
}

#s1-container #text-container #s1-signup {
    display: inline-block;
    text-align: center;
    width: 80%;
    background-color: rgb(203,56,55);
    border-style: solid;
    border-color: rgb(203,56,55);
    color: rgb(255,255,255);
    text-decoration: solid;
    border-radius:20px;
    padding: 7px 18px 8px 18px;
    margin: 10px auto 20px auto;
    font-weight: 500;
}

#s1-container #text-container #s1-learn {
    font-weight: 600;
    color: rgb(255,255,255);
    text-decoration: solid;
}

#s1-container #text-container p {
    text-align: center;
}

#section-2 {
    background-image: url(images/npm-is-BOXES.png);
    background-size: cover;
    height:700px;
    color: rgb(255,255,255);
}

#s2-container {
    width:80%;
    margin: 0 auto;
    padding-top: 12%;
}

#s2-container #s2-subcontainer {
    width: 40%;
    float: left;
}

#s2-container #s2-subcontainer p {
    line-height: 24px;
}

#s2-container #s2-subcontainer h2 {
    margin-bottom: 20px;
}

#s2-install {
    display: inline-block;
    text-align: center;
    background-color: rgb(52,73,94);
    border-style: solid;
    border-color: rgb(52,73,94);
    color: rgb(255,255,255);
    text-decoration: solid;
    border-radius:20px;
    padding: 7px 18px 8px 18px;
    margin: 18px auto 0 auto;
    font-weight: 500;
}

#section-3 h3 {
    margin: 20px auto;
}

#section-3 a {
    color: rgb(203, 56, 55);
    text-decoration: solid;
}

#section-3 p {
    color: rgb(51,51,51)
}   